{deps, [
    {rabbit_common, "3.13.3"},
    {amqp_client, "3.12.14"},
    {jsx, "3.1.0"}
]}.

{erl_opts, [debug_info]}.
{profiles, [
    {dev, [
        {relx, [{dev_mode, true}]}
    ]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [executions_node_application, rabbit_common, amqp_client, jsx]}
]}.
